# Ignore node_modules directory
node_modules/

# Ignore environment variable files
.env

# Optional: Ignore lock files (can be kept if you want consistent dependencies)
package-lock.json
yarn.lock

# Ignore Vercel and other deployment-related files
.vercel/

# Ignore other OS-specific files
.DS_Store